-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: agri_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
--
-- Table structure for table `administrateurs`
--

DROP TABLE IF EXISTS `administrateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `administrateurs` (
  `admin_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `admin_niveau_acces` int(11) DEFAULT NULL,
  `admin_departement` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `administrateurs_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `agriculteurs`
--

DROP TABLE IF EXISTS `agriculteurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agriculteurs` (
  `agriculteur_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `agriculteur_localisation` varchar(255) DEFAULT NULL,
  `agriculteur_type_agri` varchar(100) DEFAULT NULL,
  `agriculteur_region` varchar(100) DEFAULT NULL,
  `agriculteur_district` varchar(100) DEFAULT NULL,
  `agriculteur_commune` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`agriculteur_id`),
  UNIQUE KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `agriculteurs_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `alertes`
--

DROP TABLE IF EXISTS `alertes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alertes` (
  `alerte_id` int(11) NOT NULL AUTO_INCREMENT,
  `meteo_id` int(11) DEFAULT NULL,
  `alerte_type` varchar(100) DEFAULT NULL,
  `alerte_message` text DEFAULT NULL,
  `alerte_date` date DEFAULT NULL,
  `alerte_statut` varchar(50) DEFAULT NULL,
  `alerte_region` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`alerte_id`),
  KEY `meteo_id` (`meteo_id`),
  CONSTRAINT `alertes_ibfk_1` FOREIGN KEY (`meteo_id`) REFERENCES `meteo` (`meteo_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `conseils_agricoles`
--

DROP TABLE IF EXISTS `conseils_agricoles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `conseils_agricoles` (
  `conseil_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `culture_id` int(11) DEFAULT NULL,
  `conseil_titre` varchar(200) NOT NULL,
  `conseil_contenu` text DEFAULT NULL,
  `conseil_date_publication` date DEFAULT NULL,
  `conseil_categorie` varchar(100) DEFAULT NULL,
  `conseil_origine` enum('expert','systeme') NOT NULL DEFAULT 'expert',
  `conseil_archive` tinyint(1) NOT NULL DEFAULT 0,
  `conseil_valide_par_expert` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`conseil_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  KEY `culture_id` (`culture_id`),
  CONSTRAINT `conseils_agricoles_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE,
  CONSTRAINT `conseils_agricoles_ibfk_2` FOREIGN KEY (`culture_id`) REFERENCES `cultures` (`culture_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=203 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cultures`
--

DROP TABLE IF EXISTS `cultures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cultures` (
  `culture_id` int(11) NOT NULL AUTO_INCREMENT,
  `exploitation_id` int(11) NOT NULL,
  `culture_type` varchar(100) NOT NULL,
  `culture_date_plantation` date DEFAULT NULL,
  `culture_statut` varchar(50) DEFAULT NULL,
  `parcelle_id` int(11) DEFAULT NULL,
  `culture_variete` varchar(150) DEFAULT NULL,
  `culture_type_sol` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`culture_id`),
  KEY `exploitation_id` (`exploitation_id`),
  KEY `fk_cultures_parcelle` (`parcelle_id`),
  CONSTRAINT `cultures_ibfk_1` FOREIGN KEY (`exploitation_id`) REFERENCES `exploitations` (`exploitation_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_cultures_parcelle` FOREIGN KEY (`parcelle_id`) REFERENCES `parcelles` (`parcelle_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `experts`
--

DROP TABLE IF EXISTS `experts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `experts` (
  `expert_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `expert_specialite` varchar(150) DEFAULT NULL,
  `expert_certifications` varchar(255) DEFAULT NULL,
  `expert_zone_couverture` varchar(255) DEFAULT NULL,
  `expert_diplome` varchar(255) DEFAULT NULL,
  `expert_statut` enum('en_attente','valide','rejete') NOT NULL DEFAULT 'en_attente',
  PRIMARY KEY (`expert_id`),
  UNIQUE KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `experts_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `exploitations`
--

DROP TABLE IF EXISTS `exploitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exploitations` (
  `exploitation_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `localisation_id` int(11) DEFAULT NULL,
  `exploitation_nom` varchar(150) NOT NULL,
  `exploitation_superficie` float DEFAULT NULL,
  `exploitation_date_creation` date DEFAULT NULL,
  `exploitation_image` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`exploitation_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  KEY `localisation_id` (`localisation_id`),
  CONSTRAINT `exploitations_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE,
  CONSTRAINT `exploitations_ibfk_2` FOREIGN KEY (`localisation_id`) REFERENCES `localisations` (`localisation_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `forum_likes`
--

DROP TABLE IF EXISTS `forum_likes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum_likes` (
  `like_id` int(11) NOT NULL AUTO_INCREMENT,
  `cible_type` enum('sujet','reponse') NOT NULL,
  `cible_id` int(11) NOT NULL,
  `utilisateur_id` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`like_id`),
  UNIQUE KEY `uniq_forum_like` (`cible_type`,`cible_id`,`utilisateur_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `forum_likes_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `forum_reponses`
--

DROP TABLE IF EXISTS `forum_reponses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum_reponses` (
  `reponse_id` int(11) NOT NULL AUTO_INCREMENT,
  `sujet_id` int(11) NOT NULL,
  `utilisateur_id` int(11) NOT NULL,
  `reponse_contenu` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`reponse_id`),
  KEY `sujet_id` (`sujet_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `forum_reponses_ibfk_1` FOREIGN KEY (`sujet_id`) REFERENCES `forum_sujets` (`sujet_id`) ON DELETE CASCADE,
  CONSTRAINT `forum_reponses_ibfk_2` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `forum_sujets`
--

DROP TABLE IF EXISTS `forum_sujets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum_sujets` (
  `sujet_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `sujet_titre` varchar(255) NOT NULL,
  `sujet_contenu` text NOT NULL,
  `sujet_categorie` varchar(100) DEFAULT 'general',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`sujet_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `forum_sujets_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `localisations`
--

DROP TABLE IF EXISTS `localisations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `localisations` (
  `localisation_id` int(11) NOT NULL AUTO_INCREMENT,
  `localisation_latitude` float DEFAULT NULL,
  `localisation_longitude` float DEFAULT NULL,
  `localisation_adresse` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`localisation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `marches`
--

DROP TABLE IF EXISTS `marches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marches` (
  `marche_id` int(11) NOT NULL AUTO_INCREMENT,
  `produit_id` int(11) DEFAULT NULL,
  `marche_nom` varchar(150) NOT NULL,
  `marche_localisation` varchar(255) DEFAULT NULL,
  `prix_agricole` float DEFAULT NULL,
  `marche_utilisateur_id` int(11) DEFAULT NULL,
  `marche_quantite` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`marche_id`),
  KEY `produit_id` (`produit_id`),
  CONSTRAINT `marches_ibfk_1` FOREIGN KEY (`produit_id`) REFERENCES `produits_agricoles` (`produit_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `message_id` int(11) NOT NULL AUTO_INCREMENT,
  `expediteur_id` int(11) NOT NULL,
  `destinataire_id` int(11) NOT NULL,
  `message_contenu` text DEFAULT NULL,
  `message_date_envoi` timestamp NOT NULL DEFAULT current_timestamp(),
  `message_lu` tinyint(1) DEFAULT 0,
  `message_document` varchar(255) DEFAULT NULL,
  `message_archive` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`message_id`),
  KEY `expediteur_id` (`expediteur_id`),
  KEY `destinataire_id` (`destinataire_id`),
  CONSTRAINT `messages_ibfk_1` FOREIGN KEY (`expediteur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE,
  CONSTRAINT `messages_ibfk_2` FOREIGN KEY (`destinataire_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `meteo`
--

DROP TABLE IF EXISTS `meteo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meteo` (
  `meteo_id` int(11) NOT NULL AUTO_INCREMENT,
  `localisation_id` int(11) DEFAULT NULL,
  `meteo_temperature` float DEFAULT NULL,
  `meteo_humidite` float DEFAULT NULL,
  `meteo_prevision` varchar(255) DEFAULT NULL,
  `meteo_date_releve` date DEFAULT NULL,
  `meteo_pluviometrie` decimal(6,2) DEFAULT NULL,
  PRIMARY KEY (`meteo_id`),
  KEY `localisation_id` (`localisation_id`),
  CONSTRAINT `meteo_ibfk_1` FOREIGN KEY (`localisation_id`) REFERENCES `localisations` (`localisation_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `notification_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `notification_type` enum('message','meteo','conseil','calendrier','general') NOT NULL,
  `notification_titre` varchar(255) NOT NULL,
  `notification_contenu` text NOT NULL,
  `notification_lue` tinyint(1) DEFAULT 0,
  `notification_lien` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`notification_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=130 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `offres_vente`
--

DROP TABLE IF EXISTS `offres_vente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offres_vente` (
  `offre_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `produit_nom` varchar(150) NOT NULL,
  `quantite` decimal(10,2) NOT NULL,
  `unite` enum('kg','tonnes') NOT NULL DEFAULT 'kg',
  `prix_souhaite` decimal(12,2) NOT NULL,
  `date_disponibilite` date DEFAULT NULL,
  `telephone_contact` varchar(30) NOT NULL,
  `statut` enum('active','vendue') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`offre_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `offres_vente_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `parcelles`
--

DROP TABLE IF EXISTS `parcelles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parcelles` (
  `parcelle_id` int(11) NOT NULL AUTO_INCREMENT,
  `exploitation_id` int(11) NOT NULL,
  `localisation_id` int(11) DEFAULT NULL,
  `parcelle_nom` varchar(255) NOT NULL,
  `parcelle_superficie` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`parcelle_id`),
  KEY `exploitation_id` (`exploitation_id`),
  KEY `localisation_id` (`localisation_id`),
  CONSTRAINT `parcelles_ibfk_1` FOREIGN KEY (`exploitation_id`) REFERENCES `exploitations` (`exploitation_id`) ON DELETE CASCADE,
  CONSTRAINT `parcelles_ibfk_2` FOREIGN KEY (`localisation_id`) REFERENCES `localisations` (`localisation_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `produits_agricoles`
--

DROP TABLE IF EXISTS `produits_agricoles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produits_agricoles` (
  `produit_id` int(11) NOT NULL AUTO_INCREMENT,
  `produit_nom` varchar(150) NOT NULL,
  `produit_date_maj` date DEFAULT NULL,
  `produit_description` text DEFAULT NULL,
  `produit_unite` varchar(20) DEFAULT 'kg',
  `produit_categorie` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`produit_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `signalements_prix`
--

DROP TABLE IF EXISTS `signalements_prix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `signalements_prix` (
  `signalement_id` int(11) NOT NULL AUTO_INCREMENT,
  `marche_id` int(11) NOT NULL,
  `utilisateur_id` int(11) NOT NULL,
  `signalement_raison` text NOT NULL,
  `signalement_statut` enum('en_attente','traite','rejete') NOT NULL DEFAULT 'en_attente',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`signalement_id`),
  KEY `marche_id` (`marche_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `signalements_prix_ibfk_1` FOREIGN KEY (`marche_id`) REFERENCES `marches` (`marche_id`) ON DELETE CASCADE,
  CONSTRAINT `signalements_prix_ibfk_2` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`utilisateur_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `taches_culturales`
--

DROP TABLE IF EXISTS `taches_culturales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taches_culturales` (
  `tache_id` int(11) NOT NULL AUTO_INCREMENT,
  `culture_id` int(11) NOT NULL,
  `tache_nom` varchar(150) NOT NULL,
  `jour_cible` int(11) NOT NULL,
  `termine` tinyint(1) NOT NULL DEFAULT 0,
  `date_completion` datetime DEFAULT NULL,
  PRIMARY KEY (`tache_id`),
  KEY `culture_id` (`culture_id`),
  CONSTRAINT `taches_culturales_ibfk_1` FOREIGN KEY (`culture_id`) REFERENCES `cultures` (`culture_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateurs` (
  `utilisateur_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_nom` varchar(100) NOT NULL,
  `utilisateur_email` varchar(150) NOT NULL,
  `utilisateur_mot_de_passe` varchar(255) NOT NULL,
  `utilisateur_role` enum('agriculteur','expert','administrateur') NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `deux_facteurs_active` tinyint(1) DEFAULT 0,
  `deux_facteurs_code` varchar(6) DEFAULT NULL,
  `deux_facteurs_expiration` datetime DEFAULT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_token_expiration` datetime DEFAULT NULL,
  `utilisateur_push_token` varchar(255) DEFAULT NULL,
  `utilisateur_photo` varchar(255) DEFAULT NULL,
  `utilisateur_telephone` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`utilisateur_id`),
  UNIQUE KEY `utilisateur_email` (`utilisateur_email`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-06 11:16:40
